.add-plan {
  position: relative;

  z-index: 2;
  margin-top: -26px;
  padding-bottom: 70px;

  border-radius: 20px 20px 0 0;
  background-color: $basic-grey-dark;

  @media (min-width: $tablet-width) {
    margin-top: -92px;
    padding-top: 40px;
  }
}

.add-plan__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.add-plan__title {
  margin-top: 28px;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-left: 33px;
    margin-bottom: 59px;

    font-size: 36px;
    line-height: 36px;
  }
}

.add-plan__progress-list {
  position: absolute;
  display: flex;

  padding: 0;
  margin: 0;
  right: 42px;
  top: 39px;

  list-style: none;

  @media (min-width: $tablet-width) {
    right: 73px;
    top: 26px;
  }
}

.add-plan__progress-link {
  display: block;

  width: 6px;
  height: 6px;
  margin-left: 15px;

  border-radius: 50%;
  background-color: #1d2e5b;

  opacity: 0.2;

  @media (min-width: $tablet-width) {
    margin-left: 29px;
  }
}

.add-plan__progress-link--current {
  opacity: 1;
}

.add-plan__steps-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.add-plan__steps-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 270px;
  padding: 2px 0 11px 0;
  margin-bottom: 10px;

  background-color: $basic-white;
  border-radius: 10px;

  @media (min-width: $tablet-width)  {
    width: 618px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 39px;
  }
}

.add-plan__steps-item--route {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    min-height: 786px;
  }
}

.add-plan__steps-item--plans {
  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }
}

.add-plan__steps-title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 25px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;


  color: $basic-blue;

  @media (min-width: $tablet-width) {
    margin-top: 43px;
    margin-left: 14px;

    font-size: 36px;
    line-height: 36px;
  }
}

.add-plan__steps-description {
  margin-top: 7px;
  margin-bottom: 0;
  padding: 0 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 618px;
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0 54px 0 42px;

    font-size: 20px;
    line-height: 24px;
  }
}

.add-plan__steps-item--route .add-plan__steps-description {
  @media (min-width: $tablet-width) {
    padding-right: 140px;
  }
}

.add-plan__navigation {
  display: none;
}
