.add-plan {
  position: relative;

  z-index: 2;
  margin-top: -26px;
  padding-bottom: 70px;

  border-radius: 20px 20px 0 0;
  background-color: $basic-grey-dark;
}

.add-plan__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.add-plan__title {
  margin-top: 28px;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $basic-blue;
}

.add-plan__progress-list {
  position: absolute;
  display: flex;

  padding: 0;
  margin: 0;
  right: 42px;
  top: 39px;

  list-style: none;
}

.add-plan__progress-link {
  display: block;

  width: 6px;
  height: 6px;
  margin-left: 15px;

  border-radius: 50%;
  background-color: #1d2e5b;

  opacity: 0.2;
}

.add-plan__progress-link--current {
  opacity: 1;
}

.add-plan__steps-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.add-plan__steps-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 270px;
  padding: 2px 0 11px 0;
  margin-bottom: 10px;

  background-color: $basic-white;
  border-radius: 10px;
}

.add-plan__steps-item--route {
  padding-top: 0;
}

.add-plan__steps-title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 25px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;


  color: $basic-blue;
}

.add-plan__steps-description {
  margin-top: 7px;
  margin-bottom: 0;
  padding: 0 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;
}

.add-plan__navigation {
  display: none;
}
