.add-profile {
  position: relative;
  display: flex;
  flex-direction: column;

  z-index: 4;
  margin-top: 0;

  border-radius: 0 0 30px 30px;

  background-color: $additional-white;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    background-color: $basic-blue-light;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 64px;
    min-height: 686px;
  }
}

.add-profile__wrapper {
  background-image: url(../../img/rates-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 195px 38px;

  @media (min-width: $tablet-width) {
    min-height: 556px;

    background-position: bottom 45px right 85px;
  }

  @media (min-width: $desktop-width) {
    background-image: url(../../img/rates-desktop@1x.png);
    background-position: bottom 163px right 133px;
  }
}

.add-profile__title {
  width: 60px;
  margin: 50px auto 10px 26px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $special-orange;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 77px;
    padding-top: 19px;

    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    margin-top: 38px;

    text-align: center;
  }
}

.add-profile__price-list {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 47px 24px 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 16px;

  list-style: none;

  color: $special-grey;
  counter-reset: plan;

  &::before {
    content: "";

    position: absolute;
    width: 200px;
    height: 1px;
    bottom: 13px;

    background-color: $additional-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 65px;

    &::before {
      width: 560.31px;
      bottom: -3px;
      left: 90px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      top: 25px;
      width: 198px;
      height: 285px;
      border-radius: 20px;
      background-color: $additional-grey-extra;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 335px;
    padding-left: 70px;
    padding-top: 136px;

    &::after {
      right: 184px;
      top: 87px;
      width: 446px;
      height: 300px;
    }
  }
}

.add-profile__price-item {
  position: relative;

  margin-bottom: 28px;

  &::before {
    content: "";

    position: absolute;
    width: 200px;
    height: 1px;
    top: -13px;

    background-color: $additional-grey;
  }

  &::after {
    content: counter(plan);

    position: absolute;

    counter-increment: plan;
    box-sizing: border-box;

    right: -24px;
    top: -10px;
    width: 34px;
    height: 34px;
    padding-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    border-radius: 50%;
    background-color: $special-orange;

    color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    min-height: 66px;
    padding-left: 90px;
    padding-top: 20px;
    margin-bottom: 0;

    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 560.31px;
      top: 1px;
    }

    &::after {
      width: 68px;
      height: 68px;

      right: auto;
      left: 0;
      top: 0;
      padding-top: 20px;
      padding-left: 1px;

      font-size: 28px;
      line-height: 28px;
    }
  }
}

.add-profile__price-item:nth-child(2n)::after {
  background-color: $special-yellow-dark;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }
}

.add-profile__price-item:nth-child(3n)::after {
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
  }
}

.add-profile__price {
  display: block;

  margin-top: 6px;
  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-right: 11px;

    text-align: right;
  }
}

.add-profile__business-tariffs {
  display: block;

  width: 220px;
  margin: 17px auto 39px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  color: $special-blue-dark;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    width: 100%;
    min-height: 68px;
    margin-top: 36px;
    padding-top: 24px;
    padding-left: 89px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 68px;
      height: 68px;

      border-radius: 50%;

      background-color: $additional-grey-extra;
      background-image: url(../../img/icon-businessman.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    margin-left: 71px;
  }
}

.add-profile__business-modal {
  flex-direction: column;
  position: absolute;

  z-index: 100;
  top: -11px;
  left: calc(50% - 135px);
  width: 270px;
  margin: 0 auto;

  background-color: $basic-white;
  padding-top: 30px;
  border-radius: 20px;

  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  @media (min-width: $tablet-width) {
    top: 0px;
    left: calc(50% - 344px);
    width: 688px;

    box-shadow: 0px 4px 22px rgba(29, 46, 91, 0.18);
  }

  @media (min-width: $desktop-width) {
    top: 99px;
    left: calc(50% - 356px);
    width: 748px;
    border-radius: 28px;
  }
}

.add-profile__business-title {
  margin-top: 4px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $special-orange;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    font-size: 45px;
    line-height: 45px;
  }
}

.add-profile__business-list {
  margin: 0;
  padding: 0;
  padding-top: 18px;

  list-style: none;

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";

      position: absolute;

      width: 506px;
      height: 1px;
      top: 13px;
      left: 90px;

      background-color: $basic-black;
      opacity: 0.05;

      @media (min-width: $desktop-width) {
        width: 624px;
        left: 62px;
      }
    }
  }
}

.add-profile__business-item {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 18px;

    position: relative;

    &::before {
      content: "";

      position: absolute;

      width: 506px;
      height: 1px;
      top: 50px;
      left: 90px;

      background-color: $basic-black;
      opacity: 0.05;

      @media (min-width: $desktop-width) {
        width: 624px;
        left: 62px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.add-profile__business-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 65px;
    margin-top: 9px;

    font-size: 22px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 33px;
    margin-top: 6px;
  }
}

.add-profile__business-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: 68px;

    font-size: 22px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-left: auto;
    margin-right: 33px;
  }
}

.add-profile__business-button {
  box-sizing: border-box;
  width: 270px;
  height: 59px;
  margin-top: 25px;
  padding-top: 20px;
  border-radius: 0 0 20px 20px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  color: $basic-blue;
  background-color: $additional-white-dark;

  @media (min-width: $tablet-width) {
    width: 688px;
    height: 108px;
    margin-top: 48px;
    padding-top: 39px;
    border-radius: 0 0 20px 20px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    width: 748px;
    border-radius: 0 0 28px 28px;
  }
}

.add-profile__business-button:hover,
.add-profile__business-button:focus {
  color: rgba(29, 46, 91, 0.7);
}

.add-profile__business-button:active {
  color: rgba(29, 46, 91, 0.3);
}
