.button {
  position: relative;
  display: block;
  box-sizing: border-box;

  width: 270px;
  height: 62px;
  margin: 25px auto;
  padding: 21px 23px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border-radius: 10px;

  color: $basic-blue;
  background-color: $basic-yellow;

  &::after {
    content: "";

    position: absolute;
    right: 9px;
    top: 25px;

    border-left: 12px solid #192144;
    border-right: 12px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    &::after {
      border-left: 12px solid rgba(29, 46, 91, 0.3);
    }
  }
}
