.calendar__month-wrapper {
  display: flex;
  justify-content: space-between;

  width: 220px;
  min-height: 42px;
  margin: 0 auto;
  margin-top: 22px;

  border-top: 1px solid $additional-grey-dark;
  border-bottom: 1px solid $additional-grey-dark;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    margin-top: 34px;
    width: 538px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
      margin-top: 32px;
      width: 1000px;
      padding: 0;
  }
}

.calendar__month {
  margin: 0 auto;
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 24px 0;
  }
}

.calendar__month-button {
  width: 10px;
  padding: 0;

  border: none;

  opacity: 0.3;

  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 13px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 40px;
    height: 86px;
  }
}

.calendar__month-button--prev {
  background-image: url(../../img/arrow-left.svg);

  @media (min-width: $tablet-width) {
    background-size: 30px 36px;
    background-position: 12px 26px;
  }

  @media (min-width: $desktop-width) {
    background-position: -6px 26px;
  }
}

.calendar__month-button--next {
  background-image: url(../../img/arrow-right.svg);
  background-position: 0 12px;

  @media (min-width: $tablet-width) {
    background-size: 30px 36px;
    background-position: -2px 24px;
  }

  @media (min-width: $desktop-width) {
    background-position: 15px 26px;
  }
}

.calendar__week-list {
  display: flex;
  justify-content: space-around;

  margin: 21px 0 0;
  padding: 0 25px;

  list-style: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    padding: 0 42px;
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-left: 176px;
    margin-top: 16px;
  }
}

.calendar__day-week {
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 142px;
    padding-left: 1px;
  }
}

.calendar__weekend .calendar__shortly {
  color: $basic-red;
}

.calendar__shortly {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: top;
  }
}

.calendar__dates-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 8px;
  padding: 0 21px 0 25px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 34px 0 40px;
    margin-top: 10px;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 34px 0 161px;
    margin-top: 20px;
  }
}

.calendar__date {
  position: relative;
  display: block;

  box-sizing: border-box;

  width: 32.5px;
  height: 32px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  text-align: center;

  color: $basic-blue;

  background-color: $basic-blue-light;
  border: 1px solid $additional-grey-dark;

  cursor: pointer;

  &:hover {
    color: #FFFFFF;
    background-color: #1D2E5B;
    position: relative;
    z-index: 1;
    padding-top: 6px;
    outline: 2px solid #FF5C23;
    outline-offset: -1px;

    border: 4px solid #FF5C23;
  }

  &:active {
    border: none;
    outline: none;
  }

  &:nth-child(7n+1) {
    width: 32px;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 78px;
    height: 70px;
    padding-top: 24px;

    font-size: 18px;
    line-height: 18px;

    &:nth-child(7n+1) {
      width: 77px;
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    height: 72px;
    padding-left: 13px;
    padding-top: 12px;

    text-align: left;

    &:nth-child(7n+1) {
      width: 143px;
      margin-left: 0;
    }
  }
}

.calendar__date .br--desktop {
  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.calendar__last-date,
.calendar__first-date {
  @media (min-width: $desktop-width) {
    position: absolute;

    bottom: 11px;
    left: 11px;
  }
}

.calendar__last-date {
  @media (min-width: $desktop-width) {
    bottom: 13px;
    left: 14px;
  }
}

.calendar__date--disabled {
  font-weight: 400;

  color: $special-grey-light;

  background-color: transparent;
}

.calendar__date--selected {
  color: $basic-white;

  background-color: $basic-blue;
}

.calendar__date--current {
  position: relative;

  z-index: 1;
  padding-top: 6px;
  outline: 2px solid $special-orange-light;
  outline-offset: -1px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    border: 4px solid $special-orange-light;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-top: 8px;
  }
}

.calendar__first-date,
.calendar__last-date {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
