.companion-filter {
  display: flex;
  flex-direction: column;

  width: 270px;
  margin-top: 24px;
  min-height: 624px;

  border-radius: 20px;
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    width: 688px;
    min-height: auto;
    margin-top: 41px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 285px;
    margin-top: 41px;
    margin-left: 84px;
    height: 814px;
  }
}

.companion-filter__title {
  margin-top: 24px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 33px;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
    margin-bottom: 25px;
    margin-left: 47px;
  }
}

.companion-filter__form {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 25px;

    &::before {
      content: "";

      position: absolute;
      width: 617px;
      height: 1px;
      top: 14px;
      left: 35px;

      background-color: $basic-yellow-dark;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;

    &::before {
      display: none;
    }
  }
}

.companion-filter__fieldset {
  position: relative;

  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    min-height: 40px;
  }
}

.companion-filter__fieldset--opened .companion-filter__checkboxes {
  display: flex;
}

.companion-filter__fieldset-title {
  margin-top: 14px;
  margin-bottom: -4px;
  padding-left: 0;
  padding-top: 11px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border-top: 1px solid $basic-yellow-dark;

  color: $basic-blue;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 33px;

    font-size: 20px;
    line-height: 20px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 12px;
    margin-left: 47px;
  }
}

.companion-filter__fieldset-title--transport {
  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.companion-filter__details-button {
  position: absolute;

  width: 10px;
  height: 6px;
  right: -2px;
  top: 32px;
  border: none;

  background-image: url(../../img/icon-triangle-down.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    right: 45px;
    top: 15px;
  }
}

.companion-filter__fieldset--opened .companion-filter__details-button {
  background-image: url(../../img/icon-triangle-up.svg);
}

.companion-filter__checkboxes {
  display: none;

  flex-direction: column;

  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 527px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    display: none;
    box-sizing: border-box;
    width: 285px;
    padding-left: 48px;
    padding-top: 6px;

  }
}

.companion-filter__checkbox {
  @media (min-width: $tablet-width) {
    width: 167px;
    height: 24px;
    margin-right: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.companion-filter__label {
  position: relative;

  display: block;

  padding-left: 27px;
  margin-top: 18px;
  margin-bottom: -8px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: $basic-black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";

    position: absolute;

    width: 18px;
    height: 18px;
    left: 0;
    bottom: 2px;
    border-radius: 4px;

    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      bottom: 0;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 164px;
    margin-top: 0;
    padding-left: 37px;

    font-size: 20px;
    line-height: 20px;
  }
}

.companion-filter__input:checked + .companion-filter__label::after {
  content: "";

  position: absolute;

  width: 18px;
  height: 18px;
  left: 1px;
  bottom: 3px;

  background-image: url(../../img/icon-check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    bottom: -4px;

    background-size: 11px 11.3px;
  }
}

.companion-filter__checkboxes--transport {
  flex-direction: row;

  margin-bottom: 14px;
  padding-left: 1px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-left: 16px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin-left: 0;
    padding-left: 48px;
    padding-top: 4px;
  }
}

.companion-filter__checkboxes--transport .companion-filter__checkbox {
  @media (min-width: $tablet-width) {
    width: 45px;
    height: 45px;
    margin-right: 0;
  }

}

.companion-filter__label--transport {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  margin-right: 2px;
  padding: 0;
  padding-top: 6px;
  padding-left: 7px;

  border-radius: 50%;
  background-color: $basic-white;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
    margin-right: 0;
    padding-top: 9px;
    padding-left: 10px;
  }
}

.companion-filter__label-icon {
  @media (min-width: $tablet-width) {
    width: 23px;
  }
}

.companion-filter__level {
  position: relative;
  display: flex;
  justify-content: space-around;

  box-sizing: border-box;
  width: 220px;
  height: 35px;
  margin-bottom: 24px;
  margin-top: 16px;

  border: 1px solid $basic-grey-light;
  background-color: $basic-white;
  border-radius: 5px;

  &::before {
    content: "";

    position: absolute;

    top: 0;
    left: 109px;
    height: 35px;
    width: 1px;

    background-image: linear-gradient(to bottom, $basic-grey-light 12px, $basic-white 12px 22px, $basic-grey-light 22px);

    @media (min-width: $tablet-width) {
      left: 73px;
      height: 44px;

      background-image: linear-gradient(to bottom, #CBCED9 13px, #FFFFFF 13px 31px, #CBCED9 22px);
    }

    @media (min-width: $desktop-width) {
      left: 94px;
    }
  }

  &::after {
    content: "";

    position: absolute;

    top: 15px;
    left: 100;
    width: 16px;
    height: 1px;

    background-color: $basic-grey-light;

    @media (min-width: $tablet-width) {
      top: 21px;
      left: 64px;
      width: 18px;
    }

    @media (min-width: $desktop-width) {
      left: 85px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;

    width: 148px;
    height: 46px;
    margin-top: 13px;
    margin-left: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
    height: 46px;
    margin-top: 26px;
    margin-left: 48px;
  }
}

.companion-filter__level-range {
  @media (min-width: $tablet-width) {
    margin-top: 34px;
    margin-left: 64px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin: 0;
    width: 192px;
    bottom: -15px;
    left: 47px;
  }
}

.companion-filter__level-input {
  display: block;
  width: 34px;
  height: 30px;
  padding-top: 2px;
  margin: 0 auto;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-align: center;

  border: none;

  cursor: pointer;
  color: $basic-blue;

  &:hover,
  &:focus {
    border: 1px solid $additional-grey-extra-dark;
  }

  &:active {
    border: 1px solid $special-blue-dark;
  }

  @media (min-width: $tablet-width) {
    height: 41px;
    font-size: 20px;
    line-height: 20px;
  }
}

.companion-filter__level-scale {
  width: 220px;
  height: 2px;

  background-color: $additional-yellow-dark;

  @media (min-width: $tablet-width) {
    width: 281px;
    height: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
  }
}

.companion-filter__level-bar {
  position: relative;

  height: 2px;

  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.companion-filter__level-toggle {
  position: absolute;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  bottom: -4px;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $basic-blue;

  &:hover,
  &:focus {
    width: 16px;
    height: 16px;
  }

  &:active {
    width: 19px;
    height: 19px;
  }

  @media (min-width: $tablet-width) {
    top: -5px;
    width: 13px;
    height: 13px;
  }
}

.companion-filter__level-toggle--min {
  left: -1px;
}

.companion-filter__level-toggle--max {
  right: -1px;
}

.companion-filter__submit {
  box-sizing: border-box;
  width: 230px;
  height: 41px;
  padding: 0;
  margin-left: -5px;
  margin-bottom: 22px;

  font-weight: bold;
  font-size: 17px;
  line-height: 17px;

  text-align: center;
  text-transform: uppercase;

  color: $basic-blue-dark;

  border: none;
  border-radius: 25px;
  background-color: $basic-white;

  &:hover,
  &:focus {
    background-color: $basic-white;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.14));
  }

  &:active {
    background-color: $basic-yellow-dark;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 49px;
    margin-bottom: 37px;
    width: 617px;
    height: 50px;

    font-size: 20px;
    line-height: 20px;

    border-radius: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
    margin-bottom: 37px;
    width: 193px;
    height: 49px;
  }
}
