.country-filter {
  margin-top: -30px;
  padding-top: 60px;
  border-radius: 0 0 20px 20px;

  background-color: $additional-grey-extra;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    margin-top: -40px;
    padding-top: 70px;

    border-radius: 0 0 60px 60px;
  }
}

.country-filter--opened {
  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    background-color: $basic-blue-light;
  }
}

.country-filter--opened .country-filter__button-open {
  display: none;
}

.country-filter--closed .country-filter__button-close,
.country-filter--closed .country-filter__continent-list,
.country-filter--closed .country-filter__letter-wrapper {
  display: none;
}

.country-filter--closed .country-filter__continent-list {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
    margin-left: 28px;
  }
}

.country-filter__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.country-filter--opened .country-filter__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.country-filter__title {
  margin-top: -11px;
  padding-left: 27px;
  padding-top: 2px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: $special-blue;

  background-image: url(../../img/icon-filter.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    box-sizing: border-box;

    width: 313px;
    margin-top: 27px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;

    background-size: 23px 15px;
    background-position: 20px 4px;
  }
}

.country-filter--opened .country-filter__title {
  @media (min-width: $desktop-width) {
    width: 313px;
  }
}

.country-filter__continent-list {
  margin: 20px 25px 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-left: 31px;
  }
}

.country-filter--opened .country-filter__continent-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.country-filter__continent-item {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: $special-blue;
  opacity: 0.3;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 4px;
  }
}

.country-filter__continent-item--selected {
  opacity: 1;
}

.country-filter__continent-link {
  @media (min-width: $tablet-width) {
    margin-right: 29px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    color: $special-blue;
  }
}

.country-filter__button {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 29px;
  top: -12px;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 20px;
    padding: 0;
    padding-right: 64px;
    margin-top: 43px;
    margin-right: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    margin-right: 80px;
  }
}

.country-filter--opened .country-filter__button {
  @media (min-width: $tablet-width) {
    margin-right: 43px;

    &::before {
      left: 174px;
      top: 10px;
      width: 25px;
      height: 2px;
    }

    &::after {
      left: 174px;
      top: 10px;
      width: 25px;
      height: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country-filter__button-close {
  &::after {
    content: "";

    position: absolute;
    left: 0;

    width: 17px;
    height: 2px;
    border-radius: 2px;
    transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);

    background-color: $special-blue;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 17px;
    height: 2px;
    border-radius: 2px;
    transform: matrix(0.71, 0.73, -0.69, 0.71, 0, 0);

    background-color: $special-blue;
  }
}

.country-filter__button-open {
  &::after {
    content: "";

    position: absolute;
    right: 0;
    top: 9px;

    width: 3px;
    height: 3px;
    border-radius: 50%;

    background-color: $special-blue;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
      right: 12px;
      top: 8px;
    }
  }

  &::before {
    content: "";

    position: absolute;
    right: 7px;
    top: 9px;

    width: 3px;
    height: 3px;
    border-radius: 50%;

    box-shadow: -7px 0 0 $special-blue;
    background-color: $special-blue;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
      right: 24px;
      top: 8px;
      box-shadow: -12px 0 0 $special-blue;
    }
  }
}

.country-filter__button-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    color: $special-blue;
  }
}

.country-filter__letter-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1324px;
  }
}

.country-filter__letter-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  min-height: 461px;
  margin: 0;
  padding: 13px 21px 0 26px;

  list-style: none;

  @media (min-width: $tablet-width) {
    width: 390px;
    padding: 39px 21px 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1260px;
    margin: 0;
    padding: 0;
    margin-top: 48px;
    margin-left: 39px;
  }
}

.country-filter__letter-item {
  box-sizing: border-box;

  width: 45px;
  height: 42px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 12px;
  padding-bottom: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-white;
  border: 1px solid $additional-grey-dark;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 50px;
    margin-right: 11px;
    margin-bottom: 33px;

    font-weight: 700;
    font-size: 60px;
    line-height: 60px;

    color: $special-blue;
    opacity: 0.3;

    border: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 251px;
    padding-bottom: 0;
    min-height: 420px;
    height: auto;
    margin-right: 0;
    opacity: 1;

    text-align: left;
  }
}

.country-filter__country-list {
  position: relative;

  display: none;

  width: 210px;
  margin: 0;
  padding: 0;
  left: 0;
  margin-top: 191px;

  list-style: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  text-align: left;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    margin-left: 459px;
    margin-top: -61px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: -2px;
    margin-top: 33px;
  }
}

.country-filter__letter-item--selected {
  position: relative;

  z-index: 1;
  color: $basic-white;

  outline: 1px solid $basic-blue;
  outline-offset: -1px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: none;
    outline: none;
    color: $basic-blue;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    color: $special-blue;
  }
}

.country-filter__letter-item--selected .country-filter__country-list {
  display: block;
}

.country-filter__letter-button {
  position: relative;

  box-sizing: border-box;

  min-height: 40px;
  height: 40px;
  padding: 11px 20px;
  padding-left: 47px;
  padding-bottom: 12px;
  margin-top: 28px;
  margin-bottom: 26px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $special-blue;

  color: $basic-blue-dark;
  border: none;
  border-radius: 21px;
  background-color: $basic-grey-extra;

  &:hover,
  &:focus {
    background-color: $special-blue-extra-light;
  }

  &::after {
    content: "";

    position: absolute;
    left: 83px;
    top: 19px;

    width: 15px;
    height: 2px;
    border-radius: 2px;
    border: none;
    transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);

    background-image: none;
    background-color: $special-blue;
  }

  &::before {
    content: "";

    position: absolute;
    left: 83px;
    top: 19px;

    width: 15px;
    height: 2px;
    border-radius: 2px;
    border: none;
    transform: matrix(0.71, 0.73, -0.69, 0.71, 0, 0);

    background-color: $special-blue;
  }

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    width: 614px;
    height: 100px;
    padding-right: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;

    &::before {
      left: 240px;
      top: 48px;
      width: 26px;
      height: 3px;

      border: none;
    }

    &::after {
      left: 240px;
      top: 48px;
      width: 26px;
      height: 3px;

      border: none;
    }

    &:active::after {
      border: none;
      opacity: 0.3;
    }

    &:active::before {
      border: none;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -130px;
    width: 1318px;
    padding-right: 13px;

    &::after,
    &::before {
      left: 589px;
    }
  }
}

