.directions {
  position: relative;
  display: flex;
  flex-direction: column;

  z-index: 5;
  margin-top: -25px;
  padding: 40px 0 0;

  border-radius: 0 0 30px 30px;

  color: $special-grey;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    background-image: url(../../img/background-flags.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 200px) 105px;

    border-radius: 0 0 60px 60px;
  }
}

.directions__title {
  margin: 54px 0 10px 26px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $special-orange;

  @media (min-width: $tablet-width) {
    margin-left: 33px;

    font-size: 45px;
    line-height: 45px;
  }
}

.directions__description {
  margin: 20px 45px 61px 25px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    margin-left: 36px;
    padding-right: 260px;

    font-size: 28px;
    line-height: 33px;
  }
}

.directions__list {
  position: relative;

  z-index: 0;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 106px;
    padding: 0 35px;

    &::before {
      content: "";

      position: absolute;

      z-index: -1;
      width: 141px;
      height: 141px;
      left: 0;
      top: -38px;

      border-radius: 20px;
      background-color: $additional-grey-extra;
    }
  }
}

.directions__item {
  position: relative;

  &:last-child > .directions__slogan {
    padding-bottom: 4px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 11px;
  }
}

@media (min-width: $tablet-width) {
  .directions__image-wrapper {
    order: 1;
  }
}

@media (min-width: $tablet-width) {
  .directions__text-wrapper {
    height: 140px;
    width: 616px;

    border-radius: 20px 0 0 20px;
    background-color: $basic-white;
  }
}

@media (min-width: $tablet-width) {
  .directions__image {
    position: absolute;
    width: 559px;
    height: 140px;
    right: 0;
    top: 0;
  }
}

.directions__image-flag {
  display: block;
  position: relative;

  z-index: 2;
  width: 35px;
  height: 24px;

  margin-top: -31px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 70px;
    height: 47px;

    right: 150px;
    top: 48px;
  }
}

.directions__country {
  display: block;
  position: relative;

  z-index: 1;
  padding-top: 23px;
  padding-left: 24px;
  margin-top: -10px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  color: $basic-black;
  border-radius: 10px 10px 0 0;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;

    padding-left: 30px;
    padding-top: 38px;

    background-color: transparent;
  }
}

.directions__slogan {
  margin-top: 0;
  margin-bottom: 11px;
  padding: 3px 85px 23px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border-radius: 0 0 10px 10px;

  color: rgba(68, 68, 68, 0.3);
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    padding-left: 30px;
    padding-top: 5px;

    background-color: transparent;
  }
}

.directions__item--czech .directions__slogan {
  padding-bottom: 4px;
}

.directions__views {
  position: absolute;
  z-index: 1;
  left: 205px;
  top: 125px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: rgba(22, 28, 53, 0.3);

  &::before {
    content: "";

    position: absolute;

    left: -19px;
    top: 3px;

    width: 14px;
    height: 14px;

    background-image: url(../../img/icon-user.svg);
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    left: 58px;
    top: 96px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;

      left: -30px;
      top: 0;

      background-image: url(../../img/icon-user-tablet.svg);
      background-position: 0 0;
    }
  }
}

.directions__show-all {
  margin-top: 27px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 619px;
    height: 82px;
    margin-top: 45px;
    margin-bottom: 80px;
    padding-top: 28px;
    padding-left: 33px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;

    &::after {
      right: 30px;
      top: 36px;
    }
  }
}
