.found {
  display: flex;
  flex-direction: column;

  margin-top: 23px;
  margin-bottom: 20px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-top: 41px;
    width: 951px;
  }
}

.found-companion {
  position: relative;

  margin-bottom: 10px;

  border-radius: 20px;
  background-color: $basic-white;

  &:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));
  }

  &::before {
    content: "";

    position: absolute;

    right: 22px;
    top: 23px;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: $basic-red;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 31px;
  }
}

.found-companion--online::before {
  background-color: $special-green;
}

.found-companion__image-link {
  display: inline-block;

  margin-top: 15px;
  margin-left: 18px;

  vertical-align: middle;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 285px;
    height: 285px;
  }
}

.found-companion__article-wrapper {
  display: inline;
}

.found-companion__article-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 664px;
  }
}

.found-companion__photo {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 285px;
    height: 285px;

    border-radius: 0;
  }
}

.found-companion__name-link {
  display: inline-block;

  width: 80px;
  height: 40px;
  margin-left: 8px;
  margin-top: 13px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  vertical-align: top;

  color: $basic-blue;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    width: auto;
    margin-left: 25px;
    margin-top: 31px;

    font-size: 30px;
    line-height: 30px;

    &::before {
      content: "";

      position: absolute;

      right: -31px;
      top: 13px;
      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: $basic-red;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-left: 62px;
    margin-top: 44px;

    &::before {
      left: -26px;
      right: auto;
    }
  }
}

.found-companion__tags {
  width: 190px;
  margin-left: 26px;
  margin-top: 5px;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    position: absolute;

    top: 76px;
    left: 234px;
    width: 230px;

    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 90px;
    left: 321px;
  }
}

.found-companion__countries {
  position: relative;

  padding-left: 26px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  text-transform: lowercase;

  color: $special-grey;

  &::before {
    content: "";

    position: absolute;

    width: 15px;
    height: 1px;
    left: 0;
    top: 8px;

    background-color: $basic-blue-light;
  }

  &::after {
    content: "";

    position: absolute;

    width: 138px;
    height: 1px;
    right: 0;
    top: 8px;

    background-color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    padding-left: 85px;
    margin-top: 14px;

    &::before {
      width: 71px;
    }

    &::after {
      width: 500px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.found-companion__countries-list {
  width: 210px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-top: 19px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    margin-top: 21px;
    margin-left: 35px;
    margin-bottom: 25px;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 230px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 45px;
    margin-bottom: 0;
  }
}

.found-companion__countries-item {
  display: flex;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.found-companion__countries-flag {
  width: 26px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
  }
}

.found-companion__countries-name {
  margin-left: 14px;
  margin-top: 2px;

  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 17px;
  }
}

.found-companion__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: absolute;
    flex-direction: column;

    top: 0;
    right: 0;
    width: 110px;
    height: 250px;
  }
}

.found-companion__wrapper--demin {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: -1px;
  }
}

.found-companion__wrapper--rogovaya {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.found-companion__transport-wrapper {
  display: flex;
  flex-direction: column;

  width: 194px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.found-companion__transport {
  position: relative;

  box-sizing: border-box;
  width: 194px;
  padding-left: 28px;
  margin-top: 1px;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  text-transform: lowercase;

  color: $special-grey;

  &::before {
    content: "";

    position: absolute;

    width: 15px;
    height: 1px;
    left: 0;
    top: 10px;

    background-color: $basic-blue-light;
  }

  &::after {
    content: "";

    position: absolute;

    width: 92px;
    height: 1px;
    right: 0;
    top: 10px;

    background-color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.found-companion__transport-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-left: 21px;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;

    width: 60px;
    height: 128px;
    margin: 0;
    margin-left: 39px;
    margin-top: 34px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    flex-direction: row;

    width: 140px;
    height: 30px;
    margin: 0;
    bottom: 23px;
    right: 143px;
  }
}

.found-companion__transport-item {
  box-sizing: border-box;
  display: flex;

  width: 32px;
  height: 32px;
  margin-right: 1px;
  padding: 0;
  padding-top: 0;
  padding-left: 9px;

  border-radius: 50%;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.found-companion__transport-icon {
  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.found-companion__level-title {
  position: relative;

  margin-top: 1px;
  margin-left: 15px;
  padding-right: 22px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  text-transform: lowercase;

  color: $special-grey;

  &::after {
    content: "";

    position: absolute;

    width: 15px;
    height: 1px;
    right: 0;
    top: 10px;

    background-color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.found-companion .found-companion__level {
  width: 45px;
  height: 45px;
  padding-top: 9px;

  top: 28px;
  right: 21px;
  left: auto;

  background-color: transparent;

  &::before {
    left: -7px;
    background-size: 45px 45px;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;

    width: 64px;
    height: 64px;
    top: 166px;
    right: 23px;

    &::before {
      width: 64px;
      height: 64px;
      left: 0;
      top: 0;

      background-size: 64px 64px;
    }

    &::after {
      content: "";

      position: absolute;
      display: block;

      left: 18px;
      top: 39px;
      width: 28px;
      height: 1px;

      background-color: $special-grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 40px;
  }
}

.found-companion__level-number {
  color: $basic-blue;
}

.found-companion__level-word {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 3px;

    color: $basic-black;
    opacity: 0.4;
  }
}

.found-companion__button {
  display: block;

  box-sizing: border-box;
  width: 230px;
  margin: 21px auto 23px;
  padding: 10px 15px;

  border-radius: 25px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-yellow;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 254px;
    top: 153px;
    padding-top: 16px;

    width: 150px;
    height: 50px;
    border-radius: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    left: 339px;
    top: 166px;
  }
}

.found-companion__likes-wrapper {
  position: absolute;

  display: flex;

  width: 71px;
  height: 32px;
  left: 68px;
  top: 54px;

  @media (min-width: $tablet-width) {
    width: 105px;
    height: 50px;
    left: 404px;
    top: 174px;
  }

  @media (min-width: $desktop-width) {
    left: 489px;
    top: 187px;
  }
}

.found-companion__likes-lebel {
  position: relative;

  display: block;

  width: 31px;
  height: 31px;

  border-radius: 50%;

  background-color: $special-red-dark;
  background-image: url(../../img/likes-no-fill.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;

    background-size: 22px;
    background-position: 15px 13px;
  }
}

.found-companion__likes-lebel {
  background-color: transparent;
}

.found-companion__likes-input:checked + .found-companion__likes-lebel {
  background-image: url(../../img/likes-fill.svg);
  background-color: $special-red-dark;
}

.found-companion__likes-lebel:hover,
.found-companion__likes-lebel:focus {
  background-color: $additional-grey-extra;
}

.found-companion__likes-input:checked + .found-companion__likes-lebel:hover,
.found-companion__likes-input:checked + .found-companion__likes-lebel:focus {
  background-color: $special-red-light;
}

.found-companion__likes-lebel:active {
  opacity: 0.5;
}

.found-companion__likes-image {
  fill: $special-red-dark;
  position: absolute;
  left: 9px;
  top: 9px;
}

.found-companion__likes {
  margin-top: 9px;
  margin-left: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 6px;

    font-size: 20px;
    line-height: 20px;
  }
}

.found__show-more {
  position: relative;

  width: 148px;
  height: 40px;
  padding: 0;
  padding-left: 31px;
  margin-top: 8px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $basic-blue;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;

    &::after,
    &::before {
      border: none;
      opacity: 0.6;
    }
  }

  &:active {
    &::after,
    &::before {
      border: none;
      opacity: 0.3;
    }
  }

  &::before {
    content: "";

    position: absolute;

    width: 18px;
    height: 2px;
    top: 14px;
    left: -1px;

    background-color: $basic-blue;
  }

  &::after {
    content: "";

    position: absolute;

    width: 18px;
    height: 2px;
    top: 14px;
    left: -1px;
    border: none;
    transform: rotate(90deg);

    background-color: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    width: 182px;
    padding-left: 43px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 26px;
      height: 2px;
      top: 10px;
      left: -5px;
    }

    &::after {
      width: 26px;
      height: 2px;
      top: 10px;
      left: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
    width: 248px;
    padding-right: 65px;
  }
}

.found__pagination {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 88px;
    width: 688px;
    height: 100px;
    border-radius: 20px;
    margin-top: 25px;

    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-bottom: 112px;
    width: 949px;
  }
}

.found__pagination-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 28px;
    margin-top: 25px;

    list-style: none;
  }
}

.found__pagination-link {
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    background-color: $basic-yellow;
  }

  @media (min-width: $tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    border-radius: 50%;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;

    color: $basic-blue;
  }
}

.found__pagination-link--current {
  background-color: $basic-yellow;
}

.found__pagination-arrows {
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 63px;

  border-radius: 20px;
  list-style: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 21px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 29px;
  }
}

.found__pagination-arrow {
  display: block;
  width: 135px;
  height: 51px;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 40px;
  }
}

.found__pagination-back {
  border-right: 1px solid $basic-blue-light;
  border-radius: 20px 0 0 20px;

  background-image: url(../../img/icon-triangle-left.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.found__pagination-next {
  border-left: 1px solid $basic-blue-light;
  border-radius: 0 20px 20px 0;

  background-image: url(../../img/icon-triangle-right.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
