.map {
  position: relative;

  margin-top: -52px;
  padding: 0;

  &::after {
    content: "";

    position: absolute;
    width: 41px;
    height: 41px;
    top: 148px;
    left: 158px;

    background-image: url(../../img/icon-map-pin.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
