.my-plans {
  position: relative;

  min-height: 410px;
  padding-bottom: 45px;
  margin-top: -27px;
  z-index: 1;

  border-radius: 20px 20px 0 0;
  background-color: $special-blue-light;

  @media (min-width: $tablet-width) {
    margin-top: -61px;
    padding-top: 29px;
    min-height: 550px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -60px;
    padding-top: 50px;
    min-height: 410px;
    border-radius: 60px 60px 0 0;
  }
}

.my-plans__wrapper {
  display: flex;
  flex-direction: column;
}

.my-plans__title {
  margin-top: 26px;

  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-left: 34px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    padding-left: 72px;
    margin-bottom: 0;
  }
}

.my-plans__list {
  margin: 0;
  padding: 0;
  margin-top: 11px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $basic-blue;

  list-style: none;
  counter-reset: plans;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
    margin-top: 52px;
  }
}

.my-plans__item {
  display: flex;
  flex-direction: column;

  min-height: 154px;
  margin-bottom: 10px;

  background: $basic-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    min-height: 152px;
    width: 618px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 97px;
    margin-bottom: 15px;
  }
}

.my-plans__countries {
  position: relative;

  padding-top: 7px;
  padding-left: 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  letter-spacing: 0.1px;

  color: $basic-blue;

  &::before {
    position: absolute;

    counter-increment: plans;
    content: counter(plans) ".";

    top: 7px;
    left: 24px;
    width: 12px;
    height: 13px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-top: 38px;
    margin-left: 39px;
    margin-bottom: 39px;
    width: 600px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      left: auto;
      right: 36px;
      top: 3px;

      font-size: 20px;
      line-height: 20px;
    }

    &::after {
      content: "";
      position: absolute;

      width: 618px;
      height: 1px;
      left: -39px;
      top: 59px;

      opacity: 0.3;
      background-color: $basic-grey-light;
    }
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-left: 95px;

    &::before {
      left: 43px;
      right: auto;
      top: 37px;
    }
  }
}

.my-plans__companions {
  padding-top: 5px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;

    width: 150px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    padding-left: 122px;
    padding-top: 38px;
  }
}

.my-plans__dates {
  padding-top: 5px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    padding-top: 38px;
  }
}

.my-plans__change {
  padding: 5px 0;
  margin-top: 18px;
  margin-left: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $basic-black;

  opacity: 0.3;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    padding-top: 4px;
    padding-left: 31px;
    width: 110px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    padding-left: 83px;
    padding-top: 36px;
  }
}
