.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 28px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;

  color: $basic-white;
  background-color: $additional-grey;
}

.page__main--inner-page {
  background-color: $basic-blue-light;
}

.page__main-title-wrapper {
  position: relative;
  margin-top: -30px;
  padding-top: 30px;

  border-radius: 0 0 20px 20px;

  background-color: $additional-blue-light;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 46px;
  }
}

.page__main-title {
  position: relative;

  display: inline-block;
  z-index: 2;
  width: auto;
  margin: 0 auto;
  margin-left: calc(50% - 135px);
  padding-top: 20px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  color: $basic-white;

  &::after {
    position: absolute;

    content: "";

    min-width: 100%;
    width: 67%;
    height: 5px;
    left: 0;
    bottom: -2px;

    border-radius: 4px;
    background-color: $special-orange;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: calc(50% - 309px);
    padding-bottom: 69px;

    font-size: 60px;
    line-height: 60px;

    &::after {
      height: 6px;
    }
  }
}

.page__main-link {
  display: none;
}
