.profile {
  background-color: $basic-blue-light;
  margin-top: -32px;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    min-height: 535px;
  }

  @media (min-width: $desktop-width) {
    min-height: 293px;
    margin-top: -60px;
    padding-top: 60px;
  }
}

.profile__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 400px;
  padding-bottom: 60px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 732px 384px;
    column-gap: 140px;
    padding-bottom: 0;
    min-height: 233px;
  }
}

.profile__photo {
  position: absolute;

  z-index: 1;
  display: block;
  width: 100px;
  height: 100px;
  right: 43px;
  top: 22px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    right: 75px;
    top: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    right: 155px;
    top: -190px;
  }
}


.profile__photo-image {
  display: block;
  width: 100px;
  height: 100px;

  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    border-radius: 0;
  }
}

.profile__level  {
  left: 42px;
  top: 22px;

  @media (min-width: $tablet-width) {
    left: 72px;
    top: 61px;
  }

  @media (min-width: $desktop-width) {
    z-index: 6;
    width: 96px;
    height: 96px;
    left: auto;
    right: 391px;
    top: -150px;

    &::after {
      top: 57px;
      left: 23px;
      height: 2px;
      background-color: $basic-white;
      opacity: 0.3;
    }

    &::before {
      background-size: 96px 96px;
    }
  }
}

.profile__level-number {
  @media (min-width: $desktop-width) {
    color: $basic-white;
    margin-top: 10px;
  }
}

.profile__level-word {
  @media (min-width: $desktop-width) {
    color: $basic-white;
    margin-top: 4px;
  }
}

.profile__change-photo {
  box-sizing: border-box;

  min-height: 40px;
  height: 40px;
  padding: 8px 20px;
  padding-bottom: 12px;
  margin-top: 140px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  color: $basic-blue-dark;
  border: none;
  border-radius: 21px;
  cursor: pointer;

  background-color: $special-blue-light;

  &::after{
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $special-grey-extra;
  }

  &:active {
    background-color: $special-blue-light;
  }

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 60px;
    border-radius: 10px;
    margin-top: 209px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.09em;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 6;
    margin: 0;
    padding: 0;
    width: 190px;
    height: 47px;
    top: 0;
    right: 155px;
    border-radius: 0 0 21px 21px;

    letter-spacing: 0.1px;
  }
}

@media (min-width: $desktop-width) {
  .change-photo__hide-text {
    display: none;
  }
}

.profile__tags {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.profile__tags-title {
  position: relative;

  box-sizing: border-box;
  z-index: 1;
  width: 70px;
  margin: 0 auto;
  padding-bottom: 1px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -2px;
    left: 309px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    bottom: 57px;
    left: 87px;
    width: 80px;
  }
}

.profile__tags-textarea {
  box-sizing: border-box;
  width: 270px;
  height: 89px;
  margin-top: -10px;
  padding: 25px;
  padding-top: 24px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.6);
  background-color: $basic-blue-light;
  border: 1px solid $basic-grey-light;
  border-radius: 10px;

  resize: none;
  overflow: hidden;

  &:hover,
  &:focus {
    border: 1px solid $special-blue-extra;
    outline: none;
  }

  &:active {
    border: 1px solid $basic-blue-dark;
  }

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 95px;
    margin-top: 27px;
    margin-left: 35px;
    padding: 40px;
    padding-top: 33px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
    margin-top: 71px;
    width: 732px;
  }
}

.profile__transport {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    position: absolute;

    box-sizing: border-box;
    width: 308px;
    height: 95px;
    left: 227px;
    top: 46px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 384px;
    height: 94px;
    margin-top: 63px;
    margin-left: 64px;
    left: auto;
    top: auto;
  }
}

.profile__transport-title {
  position: relative;

  box-sizing: border-box;
  z-index: 1;
  width: 110px;
  margin: 0 auto;
  padding-bottom: 1px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: auto;
    bottom: -18px;
    left: 98px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    left: 123px;
  }
}

.profile__transport-buttons {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 270px;
  height: 63px;
  margin-top: -10px;
  padding-top: 13px;

  background-color: $basic-blue-light;
  border: 1px solid $basic-grey-light;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 308px;
    height: 95px;
    padding-top: 25px;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.profile__transport-label {
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  padding-left: 8px;
  padding-top: 0;

  border-radius: 50px;
  cursor: pointer;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
    padding-top: 7px;
    padding-left: 12px;
  }
}

.profile__transport-input:checked + .profile__transport-label .profile__transport-icon {
  fill: #D9D9D9;
}

.profile__transport-label:hover,
.profile__transport-label:focus {
  filter: drop-shadow(0px 2px 6px rgba(22, 28, 53, 0.17));
}

.profile__transport-label:hover .profile__transport-icon,
.profile__transport-label:focus .profile__transport-icon {
  opacity: 0.7;
}

.profile__transport-input:checked + .profile__transport-label:hover .profile__transport-icon,
.profile__transport-input:checked + .profile__transport-label:focus .profile__transport-icon {
  opacity: 1;
  fill: $basic-grey-extra-dark;
}

.profile__transport-label:active {
  background-color: $basic-grey-extra-light;
}

.profile__transport-label:active .profile__transport-icon {
  opacity: 0.1;
}

.profile__transport-input:checked + .profile__transport-label:active .profile__transport-icon {
  opacity: 0.3;
}

.profile__transport-icon {
  width: 17px;
  height: 17px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}
