.promo {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  margin-top: -30px;
  padding-top: 30px;

  background-color: $special-blue;

  @media (min-width: $tablet-width) {
    background-color: $additional-blue-light;
    padding-top: 41px;
  }
}

.promo__title-wrapper {
  margin-top: -30px;
  padding-top: 30px;

  background-color: $additional-blue;
  background-image: url(../../img/globe-back-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 0% -60px;

  @media (min-width: $tablet-width) {
    background-color: $additional-blue-light;
    background-image: none;
  }
}

.promo__title {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 30px auto 0;
  height: 386px;
  padding: 0 30px;

  font-size: 36px;
  line-height: 40px;
  text-align: center;

  background-image: url(../../img/traveller-illustration-mobile.png);
  background-repeat: no-repeat;
  background-position: 63% 131px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 250px;
    margin-top: 3px;
    padding: 0 170px;

    font-size: 60px;
    line-height: 70px;

    background-image: none;
  }
}

.promo__contact-list {
  display: flex;
  z-index: 1;

  margin: 0 auto;
  margin-top: -20px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__contact-link {
  position: relative;
  display: block;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.promo__contact-link--phone {
  background-color: $special-orange;

  &::before {
    content: "";
    position: absolute;

    width: 40px;
    height: 40px;
    left: 0;
    top: 0;

    background-image: url(../../img/icon-phone-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: $special-orange-dark;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.promo__contact-link--mail {
  background-color: $special-yellow-dark;

  &::before {
    content: "";
    position: absolute;

    width: 40px;
    height: 40px;
    left: 0;
    top: 0;

    background-image: url(../../img/icon-mail-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: $special-orange;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.promo__contact-link--login {
  width: 190px;
  padding: 10px 15px;
  border-radius: 25px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: $basic-yellow;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}

.promo__review  {
  margin: 0;
  margin-top: -20px;
  padding-top: 47px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  background-color: $basic-blue-dark;


  @media (min-width: $tablet-width) {
    padding-bottom: 183px;

    background-color: $additional-blue-light;
    background-image: url(../../img/traveller-illustration-tablet.png), url(../../img/globe-back-tablet@1x.png);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% + 87px) 16px, 50% -6px;
  }
}

.promo__review-text {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto 18px;
  padding: 0 100px 0 50px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 20px 400px 0 71px;


    font-size: 28px;
    line-height: 33px;
  }
}

.promo__review-author {
  box-sizing: border-box;
  width: $mobile-width;
  display: block;
  margin: 0 auto 110px;
  padding: 0 100px 0 50px;

  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 28px 400px 0 73px;

    font-size: 21px;
    line-height: 25px;
  }
}

.promo__instruction-list {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 25px;
  margin-top: -80px;

  list-style: none;
  counter-reset: guide;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 40px;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo__instruction-item {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  min-height: 80px;
  padding-left: 24px;
  padding-top: 21px;
  padding-right: 103px;
  border-radius: 10px 10px 0 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;

  color: $basic-blue-dark;
  background-color: $special-orange;

  &:nth-child(2n) {
    background-color: $additional-yellow;

    @media (min-width: $tablet-width) {
      width: 344px;
      margin-left: -31px;
      margin-top: -10px;

      border-radius: 20px 20px 0 0;
    }
  }

  &:nth-child(3n) {
    background-color: $special-yellow-dark;

    @media (min-width: $tablet-width) {
      border-radius: 0 0 0 20px;
    }
  }

  &:last-child {
    margin-bottom: 39px;

    background-color: $basic-yellow;
    border-radius: 10px 10px 10px 10px;

    @media (min-width: $tablet-width) {
      border-radius: 0 0 20px 20px;
    }
  }

  &:not(:last-child) {
    min-height: 90px;

  }

  &:not(:first-child) {
    margin-top: -10px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &::after {
    position: absolute;

    counter-increment: guide;
    content: counter(guide);

    top: 21px;
    right: 21px;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;

    color: $basic-white;

    @media (min-width: $tablet-width) {
      left: 34px;
      top: 87px;
      right: auto;

      font-size: 30px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 375px;
    height: 140px;
    padding-top: 29px;
    padding-left: 33px;
    padding-right: 151px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px 0 0 0;
  }
}
