.promo {
  display: flex;
  flex-direction: column;

  background-color: $special-blue;
}

.promo__title-wrapper {
  background-color: $additional-blue;
  background-image: url(../../img/globe-back-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 0% -60px;
}

.promo__title {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 30px auto 0;
  height: 386px;
  padding: 0 30px;

  font-size: 36px;
  line-height: 40px;
  text-align: center;

  background-image: url(../../img/traveller-illustration-mobile.png);
  background-repeat: no-repeat;
  background-position: 63% 131px;
}

.promo__contact-list {
  display: flex;
  z-index: 1;

  margin: 0 auto;
  margin-top: -20px;
  padding: 0;

  list-style: none;
}

.promo__contact-link {
  display: block;
  width: 40px;
  height: 40px;
}

.promo__contact-link--phone {
  background-image: url(../../img/icon-phone-btn.png);
  background-repeat: no-repeat;
}

.promo__contact-link--mail {
  background-image: url(../../img/icon-mail-btn.png);
  background-repeat: no-repeat;
}

.promo__contact-link--login {
  width: 190px;
  padding: 10px 15px;
  border-radius: 25px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: $basic-yellow;
}

.promo__review  {
  margin: 0;
  margin-top: -20px;
  padding-top: 47px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  background-color: $basic-blue-dark;
}

.promo__review-text {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto 19px;
  padding: 0 100px 0 50px;
}

.promo__review-author {
  box-sizing: border-box;
  width: $mobile-width;
  display: block;
  margin: 0 auto 109px;
  padding: 0 100px 0 50px;

  font-weight: 700;
  font-style: normal;
}

.promo__instruction-list {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 25px;
  margin-top: -80px;

  list-style: none;
  counter-reset: guide;
}

.promo__instruction-item {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  min-height: 80px;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 95px;
  border-radius: 10px 10px 0 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;

  color: $basic-blue-dark;
  background-color: $special-orange;
}
