.sign-up {
  position: relative;

  z-index: 2;
  min-height: 533px;
  margin-top: -30px;

  border-radius: 0 0 30px 30px;
  background-color: $special-blue;
}

.sign-up__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sign-up__title {
  margin-top: 100px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: $special-orange;
}

.sign-up__description {
  padding: 0 36px 0 34px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: $basic-white;
}

.sign-up__link {
  text-decoration: underline;

  color: $basic-yellow;
}

.sign-up__form {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  margin: 0;
  padding: 0;

  background-color: transparent;

  &::after {
    display: none;
  }
}

.sign-up__input {
  box-sizing: border-box;
  z-index: 0;
  width: 220px;
  min-height: 62px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 18px;
  margin-left: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  color: $special-grey;

  border: none;
  border-radius: 10px 0 0 10px;
  background-color: $basic-white;

  &::placeholder {
    opacity: 0.3;
  }
}

.sign-up__submit {
  position: absolute;
  display: block;

  z-index: 1;
  box-sizing: border-box;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 62px;

  border: none;
  border-radius: 10px;
  background-color: $basic-yellow;

  &::after {
    content: "";

    position: absolute;
    right: 22px;
    top: 24px;
    width: 12px;
    height: 14px;

    background-image: url(../../img/triangle-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sign-up__submit-text {
  display: none;
}

.sign-up__have-questions {
  margin-top: 28px;
  margin-bottom: 16px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  text-align: center;
  letter-spacing: 0.01em;

  color: $basic-white;
}

.sign-up__contact-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;

  background-color: transparent;
}

.sign-up__contact-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;

  color: $basic-yellow;

  &::before {
    top: 2px;
  }
}
