.social-list {
  display: flex;
  justify-content: center;
  min-height: 21px;
  margin: 0 auto 31px;
  padding: 0;

  text-align: center;

  background-color: $basic-white;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social-list__link {
  display: block;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link--facebook {
  padding-right: 10px;
  padding-top: 4px;
}

.social-list__link--instagram {
  padding-left: 13px;
  padding-top: 3px;
}

.social-list__icon--facebook {
  width: 11px;
  height: 21px;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.social-list__icon--vk {
  width: 23px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 16px;
  }
}

.social-list__icon--instagram {
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.page-header--opened-menu .social-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    width: 147px;
    margin-left: 0;
    margin-top: 126px;
    margin-bottom: 82px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
