.travelers {
  position: relative;
  z-index: 4;

  margin-top: -30px;

  border-radius: 0 0 30px 30px;
  background-color: $special-blue;

  @media (min-width: $tablet-width) {
    margin-top: -60px;

    border-radius: 0 0 60px 60px;
  }
}

.travelers__out-wrapper {
  background-color: $additional-white;
}

.travelers__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  background-image: url(../../img/rogovaya-back-mobile@1x.png), url(../../img/smolov-back-mobile@1x.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 61px 71px, 143px 143px;
  background-position: 0px 337px, 152px 65px;

  @media (min-width: $tablet-width) {
    background-image: url(../../img/rogovaya-back-tablet@1x.png), url(../../img/smolov-back-mobile@1x.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 285px 285px, 143px 143px;
    background-position: 409px 140px, 40px 486px;

    &::before {
      content: "";

      position: absolute;
      z-index: -1;

      left: 39px;
      top: 130px;
      width: 212px;
      height: 212px;

      border-radius: 20px;
      background-color: $additional-blue-dark;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: "title list" "description list" "slogan list" "button list";

    background-position: 190px 446px, 547px 194px;

    &::before {
      left: 60px;
    }
  }
}

.travelers__title {
  margin: 0;
  margin-top: 80px;
  padding: 15px 24px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $special-orange;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;
    top: 64px;
    width: calc(50% - 49px);
    height: 132px;

    border-radius: 0 20px 20px 0;
    background-color: $additional-blue-dark;
  }

  @media (min-width: $tablet-width) {
    padding-top: 117px;
    padding-left: 33px;

    font-size: 45px;
    line-height: 45px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: title;

    padding-top: 106px;
    padding-left: 69px;
  }
}

.travelers__description {
  box-sizing: border-box;

  margin-top: 2px;
  padding: 20px 25px 0 24px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-right: 223px;
    padding-left: 35px;

    font-size: 28px;
    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    grid-area: description;
    padding-top: 55px;
    padding-right: 154px;
    padding-left: 70px;
    padding-bottom: 0;

    font-size: 28px;
    line-height: 33px;
  }
}

.travelers__slogan {
  display: block;
  box-sizing: border-box;

  padding: 4px 0 10px 25px;
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-right: 375px;
    padding-left: 35px;
    margin-bottom: 50px;

    font-size: 21px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-area: slogan;

    padding-top: 15px;
    padding-right: 318px;
    padding-left: 70px;
  }
}

.travelers__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-area: list;
  }
}

.travelers__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 9px;

  background-color: $basic-white;
  border-radius: 20px 20px 10.5px 10.5px;

  @media (min-width: $tablet-width) {
    width: 285px;
    margin-left: 34px;
    min-height: 483px;

    border-radius: 21px 21px 20px 20px;

    &:nth-child(2n) {
      margin-right: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 483px;
    margin: 194px 0 0 29px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.travelers__level {
  left: 17px;
  top: 17px;

  @media (min-width: $tablet-width) {
    left: 22px;
    top: 20px;
  }
}

.travelers__countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
  margin-top: -24px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: -26px;
  }
}

.travelers__countries-item {
  height: 25px;
  margin: 5px 10px;
}

.travelers__user-name {
  margin-top: 7px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;

  color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-left: 68px;
    margin-top: 12px;

    font-size: 24px;
    line-height: 22px;
    text-align: left;
  }
}

.travelers__user-wrapper {
  position: relative;

  display: inline-block;

  &::before{
    content: "";

    position: absolute;

    width: 6px;
    height: 6px;
    left: -16px;
    top: 10px;

    background-color: $basic-red;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 8px;
      height: 8px;
      left: -22px;
      top: 9px;
    }
  }
}

.travelers__user-wrapper--online::before {
  background-color: $basic-green;
}

.travelers__tags {
  margin-top: 12px;
  margin-bottom: 11px;
  padding: 0 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    width: 225px;
    margin-top: 19px;

    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
}

.travelers__transport-list {
  display: flex;

  width: 120px;
  height: 25px;
  margin: 0 auto 23px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.travelers__transport-item {
  opacity: 0.15;
}

.travelers__transport-item--active {
  opacity: 1;
}

.travelers__transport-plane {
  margin-right: 15.25px;
}

.travelers__transport-bus {
  margin-right: 13.25px;
}

.travelers__transport-bike {
  margin-right: 9.31px;
}

.travelers__show-all {
  margin-top: 10px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 619px;
    height: 80px;
    margin-top: 72px;
    margin-bottom: 87px;
    padding-top: 28px;
    padding-left: 33px;

    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &::after {
      right: 25px;
      top: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: button;

    width: 281px;
    margin-right: auto;
    margin-left: 71px;
    margin-top: 26px;
    margin-bottom: 134px;

    &::after {
      right: 23px;
    }
  }
}

.travelers__item:hover {
  transform: scale(1.01);
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));
}

.travelers__transport-item:hover {
  position: relative;
  opacity: 1;

  &::before {
    z-index: 100;
    position: absolute;
    display: block;
    content: attr(aria-label);
    box-sizing: border-box;

    padding-left: 23px;
    padding-right: 23px;
    padding-top: 19px;
    padding-bottom: 18px;
    bottom: -75px;
    left: 50%;

    background-color: $basic-blue-extra-dark;

    transform: translateX(-50%);
    overflow: hidden;
    color: $basic-white;
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;

    content: "";

    width: 0;
    height: 0;
    bottom: -19px;
    left: 50%;

    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 16px solid $basic-blue-extra-dark;

    transform: translateX(-50%);
  }
}

.travelers__countries-item:hover {
  position: relative;
  opacity: 1;

  &::before {
    z-index: 100;
    position: absolute;
    display: block;
    content: attr(aria-label);
    box-sizing: border-box;

    width: 150px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 19px;
    padding-bottom: 18px;
    bottom: -75px;
    left: 50%;

    background-color: $basic-blue-extra-dark;

    transform: translateX(-50%);
    overflow: hidden;
    color: $basic-white;
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;

    content: "";

    width: 0;
    height: 0;
    bottom: -19px;
    left: 50%;

    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 16px solid $basic-blue-extra-dark;

    transform: translateX(-50%);
  }
}

.travelers__user-name:hover {
  opacity: 0.7;
}

.travelers__user-name:active {
  opacity: 0.3;
}
