.user-list {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;

  background-color: $basic-white;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 688px;
    background-color: transparent;
    margin-top: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    min-height: 50px;
  }
}

.page-header--no-js .user-list {
  width: 270px;
  min-height: 254px;
  margin-bottom: 0;
}

.page-header--closed-menu .user-list {
  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin: 0;
  }
}

.page-header--opened-menu .user-list {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-list__link {
  display: block;
  position: relative;
  box-sizing: border-box;

  min-height: 45px;
  padding: 14px;
  padding-left: 60px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $special-blue;

  &:hover, &:focus {
    color: $special-yellow-dark;
  }

  &:active {
    color: rgba(255, 215, 75, 0.7);;
  }

  &:hover svg,
  &:focus svg {
    fill: $special-yellow-dark;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__link--login {
  width: 270px;
  height: 50px;
  margin-top: 31px;
  margin-bottom: 51px;
  padding: 10px 15px;
  border-radius: 25px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  background-color: $basic-yellow;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;

    width: 188px;
    height: 50px;
    margin: 0;
    right: 40px;
    top: 40px;
    padding-top: 14px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-list__icon-wrapper {
  position: absolute;

  box-sizing: border-box;
  width: 45px;
  height: 45px;
  left: 0;
  top: 0;
  padding-left: 14px;
  padding-top: 14px;

  border-radius: 50%;

  background-color: $basic-blue-extra;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    left: 57px;
    padding-left: 22px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    left: 4px;
    top: -6px;
  }
}

.user-list__icon-wrapper--mail {
  @media (min-width: $tablet-width) {
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 29px;
    padding-top: 35px;
  }
}

.user-list__icon--phone {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 30px;
  }
}

.user-list__icon--mail {
  width: 18px;
  height: 13px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 37px;
    height: 25px;
  }
}

.page-header--opened-menu .user-list__link {
  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 148px;
    min-height: 68px;
    padding-top: 22px;

    font-size: 28px;
    line-height: 28px;
  }
}

.page-header--opened-menu .user-list__link--login {
  @media (min-width: $tablet-width) {
    right: 0;
    top: -53px;
    min-height: 50px;
    padding-left: 15px;
    padding-top: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}
