a {
  text-decoration: none;
  color: $basic-blue-dark;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.symbol {
  font-family: sans-serif;
}

.br {
  display: none;
}

@media (max-width: $tablet-width) {
  .br--mobile {
    display: block;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .br--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .br--desktop {
    display: block;
  }
}

.bs {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .bs--tablet {
    display: inline-block;
  }
}

.modal-closed {
  display: none;
}

.modal-opened {
  display: flex;
}
