a {
  text-decoration: none;
  color: $basic-blue-dark;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.symbol {
  font-family: sans-serif;
}

.button {
  position: relative;
  display: block;
  box-sizing: border-box;

  min-width: 270px;
  min-height: 62px;
  margin: 25px auto;
  padding: 21px 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border-radius: 10px;

  color: $basic-blue;
  background-color: $basic-yellow;

  &::after {
    content: "";

    position: absolute;
    right: 19px;
    top: 25px;
    width: 13px;
    height: 13px;

    background-image: url(../../img/triangle-button.svg);
    background-repeat: no-repeat;
  }
}

.level {
  position: absolute;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  padding-top: 10px;

  box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;



  &::before {
    content: "";

    position: absolute;
    display: block;

    left: 0;
    top: 0;
    width: 60px;
    height: 60px;

    background-image: url(../../img/level-99-small.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &::after {
    content: "";

    position: absolute;
    display: block;

    left: 15px;
    top: 36px;
    width: 30px;
    height: 1px;

    background-color: $basic-white;
    opacity: 0.3;
  }
}

.level--80 {
  &::before {
    background-image: url(../../img/level-80-small.svg);
  }
}

.level-number {
  margin-top: 3px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: $basic-white;
}

.level-word {
  margin-top: 1px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
